In [339]:
import pandas as pd
df = pd.read_csv("C:/Users/HP/Desktop/Binary_bots/Untitled Folder/EURUSD1.csv")
df = df.dropna()
df["Future"] = df["Future"].astype(int)

df

       Future     open     high      low    close  volume
0           0  1.16062  1.16070  1.16061  1.16067      13
1           0  1.16067  1.16069  1.16048  1.16049      31
2           1  1.16050  1.16055  1.16047  1.16048      23
3           0  1.16048  1.16050  1.16047  1.16048      38
4           1  1.16050  1.16052  1.16037  1.16038      56
...       ...      ...      ...      ...      ...     ...
64995       0  1.13158  1.13158  1.13155  1.13155       3
64996       0  1.13156  1.13156  1.13153  1.13153       3
64997       0  1.13154  1.13154  1.13151  1.13153       4
64998       1  1.13153  1.13153  1.13134  1.13135      15
64999       1  1.13135  1.13138  1.13135  1.13138       4

[65000 rows x 6 columns]

In [78]:
from talib.abstract import *
#Pattern Recognition
## df['cdl2crows'] = pd.Series(CDL2CROWS(df['open'], df['high'], df['low'], df['close']))
# df['cdl3blackcrows'] = pd.Series(CDL3BLACKCROWS(df['open'], df['high'], df['low'], df['close']))
# df['cdl3inside'] = pd.Series(CDL3INSIDE(df['open'], df['high'], df['low'], df['close']))
# df['cdl3linestrike'] = pd.Series(CDL3LINESTRIKE(df['open'], df['high'], df['low'], df['close']))
# df['cdl3outside'] = pd.Series(CDL3OUTSIDE(df['open'], df['high'], df['low'], df['close']))
##df['cdl3starsinsouth'] = pd.Series(CDL3STARSINSOUTH(df['open'], df['high'], df['low'], df['close']))
##df['cdl3whitesoldiers'] = pd.Series(CDL3WHITESOLDIERS(df['open'], df['high'], df['low'], df['close']))
# df['cdlabandonedbaby'] = pd.Series(CDLABANDONEDBABY(df['open'], df['high'], df['low'], df['close']))
# df['cdladvanceblock'] = pd.Series(CDLADVANCEBLOCK(df['open'], df['high'], df['low'], df['close']))
# df['CDLBELTHOLD'] = pd.Series(CDLBELTHOLD(df['open'], df['high'], df['low'], df['close'])) #
# df['CDLBREAKAWAY'] = pd.Series(CDLBREAKAWAY(df['open'], df['high'], df['low'], df['close']))
# df['CDLCLOSINGMARUBOZU'] = pd.Series(CDLCLOSINGMARUBOZU(df['open'], df['high'], df['low'], df['close']))#
##df['CDLCONCEALBABYSWALL'] = pd.Series(CDLCONCEALBABYSWALL(df['open'], df['high'], df['low'], df['close']))
# df['CDLCOUNTERATTACK'] = pd.Series(CDLCOUNTERATTACK(df['open'], df['high'], df['low'], df['close']))
##df['CDLDARKCLOUDCOVER'] = pd.Series(CDLDARKCLOUDCOVER(df['open'], df['high'], df['low'], df['close']))
##df['CDLDOJI'] = pd.Series(CDLDOJI(df['open'], df['high'], df['low'], df['close']))
# df['CDLDRAGONFLYDOJI'] = pd.Series(CDLDRAGONFLYDOJI(df['open'], df['high'], df['low'], df['close']))
# df['CDLENGULFING'] = pd.Series(CDLENGULFING(df['open'], df['high'], df['low'], df['close']))
# df['CDLEVENINGDOJISTAR'] = pd.Series(CDLEVENINGDOJISTAR(df['open'], df['high'], df['low'], df['close']))
# df['CDLEVENINGSTAR'] = pd.Series(CDLEVENINGSTAR(df['open'], df['high'], df['low'], df['close']))
# df['CDLGAPSIDESIDEWHITE'] = pd.Series(CDLGAPSIDESIDEWHITE(df['open'], df['high'], df['low'], df['close']))
# df['CDLGRAVESTONEDOJI'] = pd.Series(CDLGRAVESTONEDOJI(df['open'], df['high'], df['low'], df['close']))
# df['CDLHAMMER'] = pd.Series(CDLHAMMER(df['open'], df['high'], df['low'], df['close']))
# df['CDLHANGINGMAN'] = pd.Series(CDLHANGINGMAN(df['open'], df['high'], df['low'], df['close']))
# df['CDLHARAMI'] = pd.Series(CDLHARAMI(df['open'], df['high'], df['low'], df['close']))
# df['CDLHARAMICROSS'] = pd.Series(CDLHARAMICROSS(df['open'], df['high'], df['low'], df['close']))
# df['CDLHIGHWAVE'] = pd.Series(CDLHIGHWAVE(df['open'], df['high'], df['low'], df['close']))
# df['CDLHIKKAKE'] = pd.Series(CDLHIKKAKE(df['open'], df['high'], df['low'], df['close']))
# df['CDLHIKKAKEMOD'] = pd.Series(CDLHIKKAKEMOD(df['open'], df['high'], df['low'], df['close']))
# df['CDLHOMINGPIGEON'] = pd.Series(CDLHOMINGPIGEON(df['open'], df['high'], df['low'], df['close']))
# df['CDLIDENTICAL3CROWS'] = pd.Series(CDLIDENTICAL3CROWS(df['open'], df['high'], df['low'], df['close']))
# df['CDLINNECK'] = pd.Series(CDLINNECK(df['open'], df['high'], df['low'], df['close']))
# df['CDLINVERTEDHAMMER'] = pd.Series(CDLINVERTEDHAMMER(df['open'], df['high'], df['low'], df['close']))
# df['CDLKICKING'] = pd.Series(CDLKICKING(df['open'], df['high'], df['low'], df['close']))
# df['CDLKICKINGBYLENGTH'] = pd.Series(CDLKICKINGBYLENGTH(df['open'], df['high'], df['low'], df['close']))
# df['CDLLADDERBOTTOM'] = pd.Series(CDLLADDERBOTTOM(df['open'], df['high'], df['low'], df['close']))
# df['CDLLONGLEGGEDDOJI'] = pd.Series(CDLLONGLEGGEDDOJI(df['open'], df['high'], df['low'], df['close']))
# df['CDLLONGLINE'] = pd.Series(CDLLONGLINE(df['open'], df['high'], df['low'], df['close']))

In [112]:
df['LINEARREG'] = pd.Series(LINEARREG(df['close'], timeperiod=3))
df['LINEARREG2'] = pd.Series(LINEARREG(df['close'], timeperiod=9))

# df['LINEARREG_ANGLE'] = pd.Series(LINEARREG_ANGLE(df['close'], timeperiod=14))
# df['LINEARREG_INTERCEPT'] = pd.Series(LINEARREG_INTERCEPT(df['close'], timeperiod=14))
# df['LINEARREG_SLOPE'] = pd.Series(LINEARREG_SLOPE(df['close'], timeperiod=14))
# df['TSF'] = pd.Series(TSF(df['close'], timeperiod=14))

<ipython-input-112-e75408a4486f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['LINEARREG'] = pd.Series(LINEARREG(df['close'], timeperiod=3))
<ipython-input-112-e75408a4486f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['LINEARREG2'] = pd.Series(LINEARREG(df['close'], timeperiod=9))

In [340]:
import numpy as np
df['LINEARREG'] = pd.Series(LINEARREG(df['close'], timeperiod=2))
df['LINEARREG2'] = pd.Series(LINEARREG(df['close'], timeperiod=5))
df['LINEARREG_INTERCEPT'] = pd.Series(LINEARREG_INTERCEPT(df['close'], timeperiod=14))



df = df.dropna()

#Close and linearreg seam to go hand in hand, for predicting the next candle
df['future_reg'] = np.where(df['LINEARREG'] >= df['close'],1 , 0)
df['future_reg2'] = np.where(df['LINEARREG2'] >= df['close'],1 , 0)


df_group = df.groupby(['Future','future_reg', "future_reg2"]).count()

<ipython-input-340-89a78d23e58c>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['future_reg'] = np.where(df['LINEARREG'] >= df['close'],1 , 0)
<ipython-input-340-89a78d23e58c>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['future_reg2'] = np.where(df['LINEARREG2'] >= df['close'],1 , 0)

In [341]:
df_group

                                open   high    low  close  volume  LINEARREG  \
Future future_reg future_reg2
0      0          0             3473   3473   3473   3473    3473       3473
                  1             3458   3458   3458   3458    3458       3458
       1          0            11397  11397  11397  11397   11397      11397
                  1            11332  11332  11332  11332   11332      11332
1      0          0             4054   4054   4054   4054    4054       4054
                  1             4143   4143   4143   4143    4143       4143
       1          0            13403  13403  13403  13403   13403      13403
                  1            13727  13727  13727  13727   13727      13727

                               LINEARREG2  LINEARREG_INTERCEPT
Future future_reg future_reg2
0      0          0                  3473                 3473
                  1                  3458                 3458
       1          0                 11397                11397
                  1                 11332                11332
1      0          0                  4054                 4054
                  1                  4143                 4143
       1          0                 13403                13403
                  1                 13727                13727

In [323]:
temp

    First Log  Second Log    Percent
0         3.0         4.0  58.558885
1         3.0         5.0  58.682299
2         3.0         6.0  58.749049
3         3.0         7.0  58.833527
4         3.0         8.0  58.884386
..        ...         ...        ...
91        3.0        95.0  53.665312
92        3.0        96.0  53.655572
93        3.0        97.0  53.577184
94        3.0        98.0  53.544962
95        3.0        99.0  53.599474

[96 rows x 3 columns]

In [349]:
import pandas as pd
df = pd.read_csv("C:/Users/HP/Desktop/Binary_bots/Untitled Folder/EURUSD1.csv")
df = df.dropna()
df["Future"] = df["Future"].astype(int)

df2 = df

In [370]:
df

,Future,open,high,low,close,volume,LINEARREG,LINEARREG2,future_reg,future_reg2
5,1,1.16037,1.16042,1.16033,1.16042,34,1.160394,1.160391,0,0
6,0,1.16042,1.16049,1.16041,1.16042,27,1.160446,1.160433,1,1
7,0,1.16042,1.16044,1.16036,1.16039,32,1.160488,1.160478,1,1
8,1,1.16039,1.16042,1.16033,1.16037,68,1.160490,1.160493,1,1
9,0,1.16037,1.16046,1.16036,1.16041,36,1.160482,1.160484,1,1
...,...,...,...,...,...,...,...,...,...,...
64980,1,1.13115,1.13116,1.13115,1.13116,2,1.131436,1.131446,1,1
64981,1,1.13115,1.13122,1.13115,1.13122,7,1.131418,1.131439,1,1
64982,1,1.13123,1.13132,1.13122,1.13132,16,1.131434,1.131443,1,1
64983,1,1.13134,1.13138,1.13134,1.13138,11,1.131430,1.131433,1,1
64984,0,1.13138,1.13142,1.13138,1.13141,9,1.131352,1.131360,0,0

In [427]:
df = df2
df['LINEARREG'] = pd.Series(LINEARREG(df['close'], timeperiod=5))
df['LINEARREG2'] = pd.Series(LINEARREG(df['close'], timeperiod=6))
df = df.dropna()
df['future_reg'] = np.where(df['LINEARREG'] >= df['close'],1 , 0)
df['future_reg2'] = np.where(df['LINEARREG2'] >= df['close'],1 , 0)
df_group = df.groupby(['Future','future_reg', "future_reg2"]).count()
df.head(50)

<ipython-input-427-9b9c9f8354e2>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['future_reg'] = np.where(df['LINEARREG'] >= df['close'],1 , 0)
<ipython-input-427-9b9c9f8354e2>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['future_reg2'] = np.where(df['LINEARREG2'] >= df['close'],1 , 0)

,Future,open,high,low,close,volume,LINEARREG,LINEARREG2,future_reg,future_reg2
5,1,1.16037,1.16042,1.16033,1.16042,34,1.160402,1.160374,0,0
6,0,1.16042,1.16049,1.16041,1.16042,27,1.160400,1.160400,0,0
7,0,1.16042,1.16044,1.16036,1.16039,32,1.160390,1.160386,0,0
8,1,1.16039,1.16042,1.16033,1.16037,68,1.160386,1.160373,1,1
9,0,1.16037,1.16046,1.16036,1.16041,36,1.160388,1.160396,0,0
10,1,1.16041,1.16043,1.16038,1.16040,31,1.160394,1.160391,0,0
11,1,1.16041,1.16049,1.16041,1.16047,29,1.160446,1.160433,0,0
12,0,1.16048,1.16050,1.16047,1.16049,24,1.160488,1.160478,0,0
13,1,1.16049,1.16050,1.16045,1.16047,45,1.160490,1.160493,1,1
14,0,1.16046,1.16048,1.16046,1.16046,33,1.160482,1.160484,1,1
15,0,1.16046,1.16047,1.16036,1.16038,34,1.160412,1.160434,1,1
16,1,1.16038,1.16040,1.16035,1.16036,27,1.160362,1.160375,1,1
17,1,1.16036,1.16039,1.16034,1.16037,28,1.160348,1.160350,0,0
18,1,1.16038,1.16046,1.16034,1.16046,30,1.160404,1.160392,0,0
19,1,1.16046,1.16050,1.16046,1.16050,29,1.160482,1.160454,0,0
20,1,1.16050,1.16057,1.16050,1.16056,13,1.160556,1.160539,0,0
21,1,1.16056,1.16057,1.16050,1.16056,72,1.160586,1.160583,1,1
22,1,1.16055,1.16067,1.16055,1.16067,32,1.160646,1.160653,0,0
23,1,1.16067,1.16072,1.16065,1.16067,27,1.160682,1.160681,1,1
24,0,1.16066,1.16067,1.16066,1.16066,3,1.160686,1.160692,1,1
25,0,1.16066,1.16069,1.16057,1.16060,27,1.160646,1.160656,1,1
26,0,1.16060,1.16060,1.16045,1.16046,34,1.160514,1.160552,1,1
27,0,1.16046,1.16046,1.16036,1.16037,15,1.160392,1.160415,1,1
28,0,1.16037,1.16037,1.16026,1.16026,18,1.160264,1.160285,1,1
29,0,1.16026,1.16027,1.16020,1.16024,26,1.160202,1.160202,0,0
30,0,1.16023,1.16026,1.16018,1.16020,36,1.160176,1.160157,0,0
31,1,1.16020,1.16020,1.16010,1.16013,32,1.160132,1.160121,1,0
32,1,1.16013,1.16019,1.16010,1.16019,20,1.160154,1.160137,0,0
33,0,1.16019,1.16020,1.16016,1.16019,16,1.160168,1.160161,0,0
34,0,1.16018,1.16019,1.16015,1.16015,14,1.160164,1.160153,1,1
35,0,1.16015,1.16015,1.16006,1.16009,14,1.160126,1.160123,1,1
36,1,1.16009,1.16009,1.16005,1.16005,20,1.160058,1.160080,1,1
37,1,1.16008,1.16010,1.16006,1.16008,27,1.160048,1.160051,0,0
38,0,1.16008,1.16011,1.16007,1.16010,34,1.160072,1.160060,0,0
39,0,1.16010,1.16011,1.16005,1.16006,10,1.160074,1.160060,1,1
40,1,1.16006,1.16006,1.16003,1.16005,16,1.160064,1.160061,1,1
41,1,1.16005,1.16005,1.16003,1.16005,25,1.160046,1.160056,0,1
42,1,1.16006,1.16007,1.16004,1.16006,19,1.160046,1.160048,0,0
43,0,1.16006,1.16012,1.15999,1.16012,41,1.160094,1.160080,0,0
44,1,1.16012,1.16012,1.16008,1.16009,8,1.160104,1.160098,1,1
45,0,1.16007,1.16012,1.16007,1.16010,10,1.160110,1.160109,1,1
46,1,1.16009,1.16010,1.16005,1.16006,15,1.160082,1.160090,1,1
47,0,1.16006,1.16011,1.16006,1.16011,22,1.160086,1.160096,0,0
48,1,1.16011,1.16012,1.16010,1.16010,10,1.160098,1.160091,0,0
49,0,1.16010,1.16010,1.16006,1.16010,23,1.160102,1.160100,1,1
50,1,1.16010,1.16010,1.16003,1.16005,20,1.160078,1.160077,1,1
51,1,1.16005,1.16007,1.16003,1.16007,13,1.160060,1.160072,0,1
52,0,1.16007,1.16011,1.16006,1.16009,10,1.160072,1.160070,0,0
53,0,1.16011,1.16012,1.16005,1.16005,16,1.160060,1.160058,1,1
54,0,1.16005,1.16008,1.15998,1.15998,17,1.160016,1.160015,1,1

In [399]:
df_group

                                open   high    low  close  volume  LINEARREG  \
Future future_reg future_reg2
0      0          0            19115  19115  19115  19115   19115      19115
                  1               58     58     58     58      58         58
       1          0              978    978    978    978     978        978
                  1             9510   9510   9510   9510    9510       9510
1      0          0            12290  12290  12290  12290   12290      12290
                  1              969    969    969    969     969        969
       1          0              145    145    145    145     145        145
                  1            21925  21925  21925  21925   21925      21925

                               LINEARREG2
Future future_reg future_reg2
0      0          0                 19115
                  1                    58
       1          0                   978
                  1                  9510
1      0          0                 12290
                  1                   969
       1          0                   145
                  1                 21925

In [350]:
from tqdm import tqdm
temp = pd.DataFrame(columns = ["First Log", "Second Log","Percent"])
for i in tqdm(range(2, 50)):
    for j in range(2, 52):
        if i != j:      
            df = df2
            df['LINEARREG'] = pd.Series(LINEARREG(df['close'], timeperiod=i))
            df['LINEARREG2'] = pd.Series(LINEARREG(df['close'], timeperiod=j))
            df = df.dropna()
            df['future_reg'] = np.where(df['LINEARREG'] >= df['close'],1 , 0)
            df['future_reg2'] = np.where(df['LINEARREG2'] >= df['close'],1 , 0)
            df_group = df.groupby(['Future','future_reg', "future_reg2"]).count()
#             print(df_group.iloc[[0],:])
            correct = df_group.iloc[[0], :].values[0][0] + df_group.iloc[[7], :].values[0][0]
            total = df_group.iloc[[4], :].values[0][0] + df_group.iloc[[3], :].values[0][0] + df_group.iloc[[0], :].values[0][0] + df_group.iloc[[7], :].values[0][0]

            per = correct/total*100 
            to_append = [i,j,per]
            temp.loc[len(temp)] = to_append

        
temp

  0%|          | 0/48 [00:00<?, ?it/s]<ipython-input-350-04a00b1e161b>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['future_reg'] = np.where(df['LINEARREG'] >= df['close'],1 , 0)
<ipython-input-350-04a00b1e161b>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['future_reg2'] = np.where(df['LINEARREG2'] >= df['close'],1 , 0)
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 48/48 [00:48<00:00,  1.00s/it]

      First Log  Second Log    Percent
0           2.0         3.0  52.313957
1           2.0         4.0  52.270570
2           2.0         5.0  52.784682
3           2.0         6.0  52.715635
4           2.0         7.0  52.616181
...         ...         ...        ...
2347       49.0        46.0  50.697674
2348       49.0        47.0  50.677258
2349       49.0        48.0  50.690301
2350       49.0        50.0  50.691474
2351       49.0        51.0  50.689590

[2352 rows x 3 columns]

In [356]:
correct

32049

In [354]:
temp.describe()

         First Log   Second Log      Percent
count  2352.000000  2352.000000  2352.000000
mean     25.500000    26.520408    50.632791
std      13.856345    14.444764     0.492769
min       2.000000     2.000000    49.851964
25%      13.750000    14.000000    50.433621
50%      25.500000    27.000000    50.579041
75%      37.250000    39.000000    50.694765
max      49.000000    51.000000    53.105829

In [220]:
(16118+	18203)/(16118+12867+16240+ 18203)

0.5411017216371319

In [184]:
df

,Future,open,high,low,close,volume,LINEARREG,LINEARREG2,future_reg,future_reg2,LINEARREG_INTERCEPT
13,1,1.16049,1.16050,1.16045,1.16047,45,1.160499,1.160482,1,1,1.160406
14,0,1.16046,1.16048,1.16046,1.16046,33,1.160564,1.160556,1,1,1.160392
15,0,1.16046,1.16047,1.16036,1.16038,34,1.160574,1.160586,1,1,1.160391
16,1,1.16038,1.16040,1.16035,1.16036,27,1.160649,1.160646,1,1,1.160387
17,1,1.16036,1.16039,1.16034,1.16037,28,1.160681,1.160682,1,1,1.160381
...,...,...,...,...,...,...,...,...,...,...,...
64886,0,1.13205,1.13205,1.13191,1.13191,17,1.132172,1.132176,1,1,1.131965
64887,1,1.13192,1.13192,1.13191,1.13191,5,1.132222,1.132228,1,1,1.131950
64888,1,1.13188,1.13191,1.13188,1.13188,9,1.132274,1.132274,1,1,1.131931
64889,1,1.13188,1.13196,1.13188,1.13196,9,1.132327,1.132330,1,1,1.131913
64890,1,1.13198,1.13205,1.13198,1.13205,14,1.132332,1.132338,1,1,1.131901

In [136]:
(16466+	18787)/(10931+13738 +16466+ 18787)

0.5883148092520276

In [108]:
df = df.dropna()
df
import numpy as np
#Close and linearreg seam to go hand in hand, for predicting the next candle
df['future_reg'] = np.where(df['LINEARREG'] >= df['close'],1 , 0)
df['future_reg2'] = np.where(df['LINEARREG2'] >= df['close'],1 , 0)

df

<ipython-input-108-2ec83e0a128d>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['future_reg'] = np.where(df['LINEARREG'] >= df['close'],1 , 0)
<ipython-input-108-2ec83e0a128d>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['future_reg2'] = np.where(df['LINEARREG2'] >= df['close'],1 , 0)

,Future,open,high,low,close,volume,LINEARREG,future_reg,LINEARREG2,future_reg2
13,1,1.16049,1.16050,1.16045,1.16047,45,1.160473,1,1.160514,1
14,0,1.16046,1.16048,1.16046,1.16046,33,1.160362,0,1.160392,0
15,0,1.16046,1.16047,1.16036,1.16038,34,1.160263,0,1.160264,0
16,1,1.16038,1.16040,1.16035,1.16036,27,1.160225,0,1.160202,0
17,1,1.16036,1.16039,1.16034,1.16037,28,1.160203,0,1.160176,0
...,...,...,...,...,...,...,...,...,...,...
64930,1,1.13082,1.13083,1.13073,1.13073,13,1.131177,1,1.131212,1
64931,1,1.13074,1.13084,1.13074,1.13082,17,1.131163,1,1.131190,1
64932,1,1.13082,1.13083,1.13080,1.13082,6,1.131062,1,1.131084,1
64933,1,1.13083,1.13090,1.13083,1.13089,18,1.131118,1,1.131104,1
64934,1,1.13090,1.13120,1.13089,1.13106,33,1.131138,1,1.131104,1

In [109]:
df.groupby(['Future','future_reg', "future_reg2"]).count()

                                open   high    low  close  volume  LINEARREG  \
Future future_reg future_reg2
0      0          0            17116  17116  17116  17116   17116      17116
                  1              547    547    547    547     547        547
       1          0              528    528    528    528     528        528
                  1            11441  11441  11441  11441   11441      11441
1      0          0            14390  14390  14390  14390   14390      14390
                  1              616    616    616    616     616        616
       1          0              713    713    713    713     713        713
                  1            19571  19571  19571  19571   19571      19571

                               LINEARREG2
Future future_reg future_reg2
0      0          0                 17116
                  1                   547
       1          0                   528
                  1                 11441
1      0          0                 14390
                  1                   616
       1          0                   713
                  1                 19571

In [106]:
(17670+20285)/(17670+11969+15011+20285)

0.5845075845075846

In [76]:
df_filtered = df[df['CDLDOJI'] != 0]
# df_filteredp = df[df['cdl3outside'] == 100]

df_filtered.head(10)

,Future,open,high,low,close,volume,CDLCONCEALBABYSWALL,CDLCOUNTERATTACK,CDLDARKCLOUDCOVER,CDLDOJI
10,1,1.16041,1.16043,1.16038,1.16040,31,0,0,0,100
14,0,1.16046,1.16048,1.16046,1.16046,33,0,0,0,100
21,1,1.16056,1.16057,1.16050,1.16056,72,0,0,0,100
23,1,1.16067,1.16072,1.16065,1.16067,27,0,0,0,100
24,0,1.16066,1.16067,1.16066,1.16066,3,0,0,0,100
33,0,1.16019,1.16020,1.16016,1.16019,16,0,0,0,100
37,1,1.16008,1.16010,1.16006,1.16008,27,0,0,0,100
41,1,1.16005,1.16005,1.16003,1.16005,25,0,0,0,100
42,1,1.16006,1.16007,1.16004,1.16006,19,0,0,0,100
49,0,1.16010,1.16010,1.16006,1.16010,23,0,0,0,100

In [77]:
df_filtered.groupby([ 'CDLDOJI', 'Future']).size()

CDLDOJI  Future
100      0         4269
         1         5248
dtype: int64